{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
  <title>Wiki</title>
</head>
<body>
<section class="section">
  <div class="container">
    <div id="app" class="columns"><!-- React --></div>
  </div>
</section>
</body>
<script src="{% static "frontend/main.js" %}"></script>
</html>